h2 {
  margin-bottom: 1.5rem;
  color: #f0d725;
}

h5 {
  color: #f0d725;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.data-list {
  display: list-item;
  text-align: -webkit-match-parent;
  padding-inline-start: 10px;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;  
  background-color: #161616;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.form-control {
  background-color: #1a1a1a;
  border: 1px solid #f0d725;
}

.form-control:focus {
  color: #495057;
  background-color: #1a1a1a;
  border-color: #f0d725;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 217, 0, 0.5);
} 

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
  color: #f0d725;
}

.jumbotron .container {
  max-width: 40rem;  
}

a, a:hover {
  color:#f0d725;
}

.bg-dark {
  background-color: #1a1a1a!important;
}

.btn-outline-warning:focus {
  box-shadow: none;
  /* 0 0 0 .2rem rgba(255,193,7,.5) */
}

.charcter_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card {
  background-color: #1a1a1a;
  border: 1px solid #f0d725;
}

.card-text {
  color: #f0f4f8;
}

.shadow-sm:hover {
  box-shadow:0 0 .5rem rgba(231, 172, 11, 0.842)!important;
}

.pages {
  padding-top: 3rem;
}

.page-link {
  color: #f0d725;
  background-color: #1a1a1a;
  border: 0.5px solid #1a1a1a;
}

.page-link:hover { 
  z-index:2;
  color:#f0d725;
  text-decoration:none;
  background-color:#1a1a1a;
  border-color:#f0d725;
}

.page-item.active .page-link {
  z-index: 3;
  color: #000000;
  background-color: #f0d725;
  border-color: #f0d725;
}

.page-item.disabled .page-link 
{ color:#6c757d;
  pointer-events:none;
  cursor:auto;
  background-color:#1a1a1a;
  border-color:#1a1a1a
}

.page-link:focus {
  z-index:3;
  outline:0;
  box-shadow:none;
} 

.modal-content {
  background-color:#161616;
  border:1px solid #f0d725;  
}

.modal-header {
  border-bottom:1px solid #161616;
}

.modal-body {
  color:#f0d725;
}

/* .modal-footer {
  border-top:1px solid #161616;
} */

.close {
  float:right;
  font-size:1.5rem;
  font-weight:700;
  line-height:1;
  color:#f0d725;
  text-shadow:0 1px 0 #ffffff;
}
.close:hover {
  color:#f0d725;
  text-decoration:none
}

footer {
  background-color: #161616;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.text-muted {
  color: #f0f4f8!important;
}

.footer__header {
  text-align: center;  
  text-transform: uppercase;
  font-size: 20px;
  color: #f0d725;
  line-height: 1.563;
  margin-bottom: 10px;  
}

.footer__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 46px);
  gap: 7px;
  width: 160px;
  margin: 0 auto;
  padding-inline-start: 0px;
}

.footer__item {
  background-color: #1a1a1a;
  width: 46px;
  height: 40px;
  transition: background-color .5s;
}

.footer__item:hover {
  background-color: #f0d725;
}

.footer__item a {
  color: #f0d725;
  font-size: 22px;
  text-align: center;
}

.footer__item a:hover {
  color:#000000;
}

.footer__item i {
  width: 46px;
  padding: 10px 0;
}


